parameters:
    app_id:            'xxx'
    app_secret:        'xxx'
    app_scope:         'xxx'

    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_name:     symfony
    database_user:     root
    database_password: ~

    secret:            ThisTokenIsNotSoSecretChangeIt
    github_token:      ThisTokenShouldBeChangedByGithubPersonalToken