body {
    color: #222;
}

h1 small {
    color: #AAA;
    font-size: 50%;
    text-transform: lowercase;
}

.tabbable {
    margin-top: 2em;
}

.tabbable li a {
    color: #222;
    font-weight: 500;
}
.tabbable li .badge {
    color: #FFF;
    margin-right: .2em;
}

.tabbable li.arrow {
    color: #555;
    font-size: 24px;
    padding: .1em .75em;
}

.tab-pane .text-intro {
    background: #FCF8E3;
    border: 1px solid #FAEBCC;
    color: #A47E3D;
    margin: 1em 0;
    padding: .5em;
}

.list-group {
    margin-top: 2em;
}

.list-group .list-group-item {
    border: none;
    margin-bottom: 1em;
}
.list-group .list-group-item:hover {
    background: #F5F5F5;
}

.list-group .list-group-item a {
    text-decoration: none;
}
.list-group .list-group-item a:hover {
    text-decoration: none;
}
.list-group .list-group-item-heading {
    font-size: 18px;
    margin-bottom: .4em;
}
.list-group .list-group-item-text {
    color: #AAA;
}
.list-group .list-group-item-text strong {
    color: #555;
}
.list-group .list-group-item-text .badge {
    background: #F5F5F5;
    color: #999;
}
.list-group .list-group-item form p.title {
    font-size: 12px;
    margin-bottom: 0;
    text-align: right;
}


#discussing .list-group .list-group-item form {
    display: none;
}
#discussing .list-group .list-group-item:hover form {
    display: block;
}


#wip .list-group .list-group-item .issue-assigned-to small,
#wip .list-group .list-group-item .issue-has-pr small {
    color: #AAA;
    display: block;
    font-size: 12px;
}
#wip .list-group .list-group-item .issue-assigned-to p,
#wip .list-group .list-group-item .issue-has-pr p {
    font-size: 18px;
}
#wip .list-group .list-group-item .issue-has-pr p span.no {
    color: #C00;
    font-size: 32px;
    font-weight: 500;
    line-height: .7;
}
#wip .list-group .list-group-item .issue-add-pr,
#wip .list-group .list-group-item:hover .issue {
    display: none;
}
#wip .list-group .list-group-item:hover .issue-add-pr {
    display: block;
}
